.center{
    text-align: center; 
    margin: auto;
    width: 80%;
    border: 1px solid #000001; 
    padding: 10px;
    color: rgba(255,255,255,.7);
    font-weight: bold;
    font-family: sans-serif !important;
    border-bottom-width: 1px solid;
    border-top-width: 0px;
    border-left-width :0px;
    border-right-width :0px;
    border-color : rgba(255,255,255,.3);
    font-size: 0.8625rem;
    font-family: sans-serif;
}

.background{
    background: url("../images/background-wow-top.jpg");
    cursor: pointer;
}

input{ 
    text-align: center; 
}

select:required:invalid{
    color: gray;
}

option[value=""][disabled]{
    display: none;
}
option{
    color: white;
}

::-webkit-input-placeholder{
    text-align: center;
}

:-moz-placeholder{ /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder{  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder{  
    text-align: center; 
}

.mainButton{
    width : 150px;
    cursor : pointer!important;
}

button{
    background-color: rgba(0,0,0,.4);
    cursor : pointer!important;
    border-color: #c77e19;
    color: #f8b700;
    padding:5px 14px;
    box-shadow: 0 0 0 1px #000;
    border-radius: 0;
    border-width: 0.1px;
    font-family: sans-serif;
}

button:active{
    color: #ffffff;
    background-color: #5DBCD2;
}

button:focus{
    outline:0;
}

button:hover{
    color: #ffffff;
    background-color: #B06701;
}

input, textarea{
    background-color : black; 
    color: white;
    border: 1px solid #504137;
    font-family: sans-serif;
}

select{    
    background-color : black; 
    color: white;
    font-family: sans-serif;
    border: 1px solid #504137;
}