.center{
    text-align: center; 
    margin: auto;
    width: 80%;
    border: 1px solid #000001; 
    padding: 10px;
    color: rgba(255,255,255,.7);
    font-weight: bold;
    font-family: sans-serif;
    border-bottom-width: 1px solid;
    border-top-width: 0px;
    border-left-width :0px;
    border-right-width :0px;
    border-color : rgba(255,255,255,.3);
    font-size: 0.8625rem;
    font-family: sans-serif;
}

.background{
    background: url("../images/background-wow-top.jpg");
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none
;}

select:required:invalid{
    color: gray;
}

option[value=""][disabled]{
    display: none;
}

option{
    color: white;
}

.mainButton{
    width : 150px!important;
    outline: none;
    background-color: rgba(0,0,0,.4);
    border-color: #c77e19;
    color: #f8b700;
    padding:5px 14px;
    font-size: 0.75rem;
    box-shadow: 0 0 0 1px #000;
    border-radius: 0;
    font-family: sans-serif!important;
}

.buttonAnim:active{
    color: #ffffff;
    background-color: #5DBCD2;
}

.buttonAnim:focus{
    outline:0;
}

.buttonAnim:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #B06701;
}

input, textarea{
    text-align: center;
    font-size: 0.75rem; 
    background-color : black; 
    color: white;
    border: 1px solid #504137;
    font-family: sans-serif;
}

input:focus,input:hover{
    outline-width: 0;
    border: 1px solid rgb(199, 126, 25);
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px black;
    -webkit-text-fill-color: white;
}

select{    
    background-color : black; 
    color: white;
    font-size: 0.75rem;
    font-family: sans-serif;
    border: 1px solid #504137;
}

select:hover,select:focus{
    outline-width: 0;
    border: 1px solid rgb(199, 126, 25);
}

#button_1 {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px;
    color: rgb(248, 183, 0);
    display: hidden;
    cursor: pointer;
    right: 0;
    position: absolute;
    white-space: nowrap;
    width: 32px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(199, 126, 25);
    outline: rgb(248, 183, 0) none 0px;
}

#span_2 {
    display: flex;
    height: 16px;
    justify-content: center;
}

#i_3 {
    width: 16px;
    background: rgba(0, 0, 0, 0) url("../images/icon-sprites-16-wow-gold.png") no-repeat scroll -64px -256px / auto padding-box border-box;   
}

#button_1:hover {
    background: rgb(176, 102, 1) none repeat scroll 0% 0% / auto padding-box border-box;
}

#i_3:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0) url("../images/icon-sprites-16-white.png") no-repeat scroll -64px -256px / auto padding-box border-box;
}

.popover {
    background-clip: padding-box;
    background-color: #272e3b;
    border: 1px solid #000;
    box-shadow: 0 0 0 1px #3d434f inset, 0 1px 5px rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .7);
    display: block;
    padding: 12px;
    max-width: 500px;
    position:absolute;
    z-index: 1001;
}

.popover-content {
    font-size: :12px;
    word-wrap: break-word
}
